{%extends 'base.html'%}

{%block title%}Edit {{pet.name}}'s Profile{%endblock%}

{%block content%}

<div class="container">
    <h1>Edit {{pet.name}}'s Profile</h1>
    <form method = "POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type !='hidden'%}

        <p>
            {{field.label}}
            {{field}}

            {%for error in field.errors%}
                {{error}}
            {%endfor%}
        </p> 

        {%endfor%}

        <button class= "btn btn-primary btn-lg">Submit</button>

    </form>

</div>


{%endblock%}

{%block footer%} <a href="/">Home</a> {%endblock%}